/*********************/
/*SETTING GLOBAL*/
/*********************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 0.875rem;
  font-family: "Raleway", sans-serif;
  height: 100%;
  background: hsl(217, 28%, 15%);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.row {
  margin: 0 auto;
  max-width: 71.875rem;
}

/*********************/
/*NAVEGAION*/
/*********************/
.navbar {
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo {
  width: 6.25rem;
  display: inline-block;
}
.navbar .main__nav {
  padding: 0.063rem;
}
.navbar .main__nav li {
  padding: 0 4rem;
  float: left;
}
.navbar .main__nav li a {
  font-size: 1rem;
  transition: 0.3rem;
  color: hsl(0, 0%, 100%);
}
.navbar .main__nav li a:hover {
  border-bottom: 1px solid hsl(0, 0%, 100%);
  transition: all 3s;
}

/*********************/
/*HERO*/
/*********************/
.hero .hero__content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../images/bg-curvy-desktop.svg") bottom no-repeat;
  background-size: 100% 300px;
  padding: 0.625rem;
}
.hero .hero__content img {
  width: 40.75rem;
  display: block;
  margin: 0 auto;
}
.hero .hero__content h1 {
  font-size: 2rem;
  width: 45%;
  text-align: center;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}
.hero .hero__content p {
  width: 30%;
  color: hsl(0, 0%, 100%);
  margin: 2rem;
  line-height: 1.5rem;
  text-align: center;
}
.hero .hero__content .btn__global {
  font-weight: bold;
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  border-radius: 6.25rem;
  background: linear-gradient(hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  padding: 1rem 5rem;
}
.hero .hero__content .btn__global:hover {
  background: #0b1523;
}

.main__page {
  position: relative;
  background: hsl(218, 28%, 13%);
  color: hsl(0, 0%, 100%);
}

/*********************/
/*PRODUCT*/
/*********************/
.product {
  padding: 2rem;
}
.product .product__plan {
  text-align: center;
  padding-top: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.product .product__plan .product__item {
  padding-top: 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.product .product__plan .product__item img {
  width: 5rem;
  padding: 1rem 0;
}
.product .product__plan .product__item p {
  width: 63%;
  padding: 2rem 0;
  line-height: 1.7rem;
}
.product .product__plan .product__item h3 {
  width: 900;
  font-size: 1.3rem;
}

/*********************/
/*PRODUCTICVE*/
/*********************/
.productive .productive__showcase {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.productive .productive__showcase .productive__item {
  padding-left: 2rem;
}
.productive .productive__showcase .productive__item img {
  width: 37rem;
}
.productive .productive__showcase .productive__item:last-child h2 {
  font-size: 2rem;
}
.productive .productive__showcase .productive__item:last-child p {
  padding: 1.3rem 0;
  line-height: 1.5rem;
}
.productive .productive__showcase .productive__item:last-child .btn__conteiner {
  display: inline-block;
  border-bottom: 1px solid hsl(176, 68%, 64%);
  color: hsl(176, 68%, 64%);
  padding: 0.2rem 0;
  cursor: pointer;
}
.productive .productive__showcase .productive__item:last-child .btn__conteiner span img {
  width: 1rem;
  margin-bottom: -4px;
}

/*********************/
/*TESTEMUNIAL*/
/*********************/
.testimonials > [class*=item] {
  z-index: 1;
  position: relative;
  font-size: 0.9rem;
}

.testimonial {
  display: flex;
  justify-items: center;
  z-index: 1;
  margin: 0 auto;
  padding: 15rem 0;
  position: relative;
  max-width: 69rem;
  z-index: 1;
}
.testimonial .testimonial__quote {
  height: 2.5rem;
  width: 2.5rem;
  z-index: -1;
  max-width: 10%;
  position: absolute;
  top: 12.8rem;
}
.testimonial .testimonial__conteiner {
  background: hsl(219, 30%, 18%);
  padding: 2.8rem 1rem;
  border-radius: 0.188rem;
  box-shadow: 0.188rem 0.188rem 0.188rem rgb(22, 21, 21);
  margin: 0 1rem;
}
.testimonial .testimonial__conteiner .user {
  display: flex;
  align-items: center;
}
.testimonial .testimonial__conteiner .user img {
  height: 1.785rem;
  width: 1.785rem;
  border-radius: 50%;
  margin-right: 0.9rem;
}
.testimonial .testimonial__conteiner .txt__user {
  padding-bottom: 2rem;
}
.testimonial .testimonial__conteiner .txt__user blockquote {
  line-height: 1.3rem;
}

/*********************/
/*SUBSCRIPTION*/
/*********************/
.subscription {
  background: #1c2431;
  max-width: 48rem;
  padding: 1rem;
  margin: 0 auto;
  border-radius: 0.6rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -8rem;
}
.subscription .subscription__txt {
  padding: 1rem 0;
}
.subscription .subscription__txt h2 {
  padding: 0.9rem 0;
  text-align: center;
  font-size: 2rem;
}
.subscription .subscription__txt p {
  line-height: 1.5rem;
  text-align: center;
  width: 90%;
}
.subscription .subscription__form {
  display: flex;
}
.subscription .subscription__form input[type=email] {
  width: 100%;
  padding: 1rem;
  border-radius: 3rem;
}
.subscription .subscription__form input[type=submit] {
  background: linear-gradient(#65e2d9, #339ecc);
  color: hsl(0, 0%, 100%);
  border: 0;
  border-radius: 6rem;
  font-weight: bold;
  margin-left: 2rem;
  cursor: pointer;
  padding: 1rem 2rem;
}

/*********************/
/*FOOTER NAV*/
/*********************/
.footer {
  padding: 5rem 0;
  background: #0b1523;
  color: hsl(0, 0%, 100%);
}
.footer .footer__logo {
  width: 9rem;
  padding-top: 10rem;
}
.footer .footer__main {
  display: flex;
  justify-content: space-between;
  grid-gap: 1rem;
}
.footer .footer__main .footer__item div,
.footer .footer__main .footer__item:nth-child(1) {
  display: flex;
  padding-top: 1rem;
}
.footer .footer__main .footer__item:nth-child(1) img,
.footer .footer__main .footer__item:nth-child(2) div img {
  margin-right: 1rem;
  width: 15px;
  height: 15px;
}
.footer .footer__main .footer__item:nth-child(3) ul li a,
.footer .footer__main .footer__item:nth-child(4) ul li a {
  color: hsl(0, 0%, 100%);
}
.footer .footer__main .footer__item:nth-child(5) ul {
  display: flex;
}
.footer .footer__main .footer__item ul li {
  padding-top: 1rem;
}
.footer .footer__main .footer__item:nth-child(5) ul li a i {
  text-align: center;
  border: 1px solid hsl(0, 0%, 100%);
  transition: all 1s;
  line-height: 2em;
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.footer .footer__main .footer__item:nth-child(1) ul li a,
.footer .footer__main .footer__item:nth-child(2) ul li a {
  color: hsl(0, 0%, 100%);
}
.footer .footer__main .footer__item:nth-child(5) ul li a .fa-facebook-f:hover {
  background: #1877F2;
}
.footer .footer__main .footer__item:nth-child(5) ul li a .fa-twitter:hover {
  background: #1DA1F2;
}
.footer .footer__main .footer__item:nth-child(5) ul li a .fa-instagram:hover {
  background: #E4405F;
}

/*********************/
/*RESPOSIVE*/
/*********************/
@media (max-width: 48.5rem) {
  .navbar {
    padding: 2rem 1rem;
  }
  .navbar .main__nav li {
    padding: 0;
  }
  .navbar .main__nav a {
    padding: 0.313rem;
  }
  .hero .hero__content {
    background: url("../images/bg-curvy-mobile.svg") bottom no-repeat;
    background-size: 100% 150px;
  }
  .hero .hero__content img {
    width: 100%;
  }
  .hero .hero__content h1 {
    width: 100%;
    line-height: 1.8rem;
  }
  .hero .hero__content p {
    width: 100%;
  }
  .hero .hero__content .btn__global {
    padding: 1rem 5rem;
  }
  .product {
    padding: 2rem;
  }
  .product .product__plan {
    padding-top: 3rem;
    flex-direction: column;
  }
  .product .product__plan .product__item {
    padding-top: 2rem;
  }
  .product .product__plan .product__item img {
    padding-top: 3rem;
  }
  .product .product__plan .product__item p {
    width: 100%;
    padding: 2rem 0.3rem;
  }
  .productive .productive__showcase {
    flex-direction: column;
  }
  .productive .productive__showcase .productive__item {
    padding-left: 1rem;
  }
  .productive .productive__showcase .productive__item img {
    width: 100%;
  }
  .productive .productive__showcase .productive__item:last-child h2 {
    font-size: 1rem;
  }
  .productive .productive__showcase .productive__item:last-child p {
    line-height: 1.7rem;
  }
  .productive .productive__showcase .productive__item:last-child a {
    padding-bottom: 0.125rem;
  }
  .testimonials > [class*=item] {
    position: relative;
    font-size: 0.9rem;
  }
  .testimonial {
    flex-direction: column;
    padding: 15em 0;
  }
  .testimonial .testimonial__quote {
    height: 30px;
    width: 30px;
    top: 13.9rem;
    left: 10px;
  }
  .testimonial .testimonial__conteiner {
    padding: 3rem 1rem;
    margin: 2rem;
  }
  .footer {
    background: #0b1523;
  }
  .footer .footer__logo {
    padding-top: 10rem;
    padding: 0 1rem;
  }
  .footer .footer__main {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
  }
  .footer .footer__main .footer__item:nth-child(5) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .subscription {
    max-width: 93%;
    padding: 1rem;
  }
  .subscription .subscription__txt {
    padding: 1rem 0;
  }
  .subscription .subscription__txt h2 {
    padding: 0.9rem 0;
    font-size: 1rem;
  }
  .subscription .subscription__txt p {
    line-height: 1.5rem;
    text-align: center;
    width: 100%;
  }
  .subscription .subscription__form {
    display: flex;
    flex-direction: column;
  }
  .subscription .subscription__form input[type=email] {
    width: 100%;
    padding: 1rem;
    border-radius: 3rem;
  }
  .subscription .subscription__form input[type=submit] {
    background: linear-gradient(#65e2d9, #339ecc);
    color: hsl(0, 0%, 100%);
    border: 0;
    border-radius: 6rem;
    font-weight: bold;
    margin-left: 0rem;
    margin: 1.5rem 0;
    cursor: pointer;
    padding: 1rem 2rem;
    width: 100%;
  }
}
@media (max-width: 70rem) {
  .footer {
    padding: 13rem 0rem 1rem 0;
  }
}
@media (max-width: 18.063rem) {
  .navbar .main__nav li a {
    font-size: 0.8rem;
  }
  .navbar .logo {
    width: 4.375rem;
  }
}

/*# sourceMappingURL=main.css.map */
